* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul {
  font-size: 20px;
}
p a {
  font-size: 30px; /* Adjust font size to make the link text bigger */
  margin-bottom: 20px;
}
img {
  display: block;
  max-width: 100%;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 400px;
  text-align: center;
  gap: 25px;
}

.btn-container button {
  padding: 20px 20px;
  font-size: 26px;
  width: 20%;
}
/* Task 2 - countdown timer */
.container {
  text-align: center;
  padding-top: 100px;
}
input {
  justify-content: center;
  height: 25px;
  width: 25%;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
input[type='text'] {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px; /* Adjust the font size as needed */
}
button {
  margin: 10px;
  height: 25px;
  width: 100px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

button[data-start] {
  font-size: 20px; /* Adjust the font size as needed */
  font-weight: bold;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 30px;
  gap: 25px;
}
